body {
    background-color: #031B33;
    color: #E0F2FE;
    text-align: center;
    font-size: 18px;
}

h1 {
    color: #FF2E63;
    text-align: center;
    font-size: 38px;
}

h2 {
    color: #00D2FF;
    text-align: center;
    font-size: 26px;
}

h3 {
    color: #FF5252;
    text-align: center;
    font-size: 22px;
}

h4, h5, h6 {
    color: #80D8FF;
    text-align: center;
    font-size: 20px;
}

p {
    color: #D1E8FF;
    text-align: center;
    font-size: 18px;
}

a {
    color: #FFFFFF;
    background-color: #D32F2F;
    text-align: center;
    font-size: 18px;
}

img {
    text-align: center;
}

ul, ol {
    background-color: #00203F;
    color: #E0F2FE;
    text-align: left;
    font-size: 18px;
}

li {
    color: #E0F2FE;
    text-align: left;
    font-size: 18px;
}